body {
  background-color: #f8f8f8;
}

/* For header */
.masthead {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.masthead a {
    color: #000;
    text-decoration: none;
}

.branding {
    font: bold 36px Roboto, sans-serif;
}

.search-form {
    padding: 3em 0;
}

.user-info {
    line-height: 8em;
    text-indent: 1em;
}

.user-info a {
    color: #000;
    text-decoration: underline;
}

/* For search results */
.listing {
    margin-bottom: 1em;
}

.listing img {
    width: 100%;
}

.listing h3 {
    position: absolute;
    bottom: 0;
    font: bold 2em/1 Roboto,sans-serif;
}

.listing h3 a {
    background-color: #fff;
    color: #000;
}

.listing .price {
    position: absolute;
    top: 1em;
    right: 15px;
    text-align: right;
    background-color: #090;
    color: #fff;
}

/* For listings without images */
.small-image-placeholder, .large-image-placeholder {
    display: block;
    font: bold 150px sans-serif;
    color: #fff !important;
    background-color: #eee;
    text-align: center;
    text-decoration: none !important;
}

.small-image-placeholder {
    font-size: 150px;
    height: 263px;
    line-height: 263px;
}

.large-image-placeholder {
    font-size: 300px;
}