body {
  background-color: #f5f5f5;
}

/* For header */
.masthead {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.masthead a {
    color: #000;
    text-decoration: none;
}

.branding {
    font: 400 30px Roboto, sans-serif;
    margin-top: 0.7em;
}

.logo-image {
    height: 100px;
    display: inline;
    margin-top: 10px;
}

.user-button-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: right;
}

@media (min-width: 992px) {
    .search-form {
        padding-top: 3em;
    }

    .user-button-container {
        padding-top: 3em;
    }
}

.new-listing {
    color: white;
}

/* For search results */
.float-to-inline-block {
    display:inline-block;
    vertical-align:top;
    float:none;
}

a.no-underline {
    text-decoration: none !important;
}

/* For show page */


/* For making WTForms less painful with Bootstrap. */
.form-group ul.form-control {
    height: auto;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

ul.form-control li {
    list-style-type: none;
}

ul.form-control li label {
    font-weight: normal;
}

form .thumbnail {
    max-width: 200px;
}

/* Footer */
.copyright {
    margin-top: 15px;
    text-align: center;
}

/* For show page */
.claim-listing-button {
    display: inline-block;
}

/* Listings table */
.listings-table {
    margin-bottom: 0px;
}

.listing-table-image {
    width: 104px;
}


/* List-Thumbail togles */

.btn-thumbnail-List-view {
    background-color: #ffffff;
    border-color: #ccc;
}


.btn-list-List-view {
    background-color: #337ab7;
    color: #ffffff;
    border-color: #2e6da4;
}

.btn-thumbnail-Thumbnail-view {
    background-color: #337ab7;
    color: #ffffff;
    border-color: #2e6da4;
}

.btn-list-Thumbnail-view{
    background-color: #ffffff;
    border-color: #ccc;
}
