body {
  background-color: #f5f5f5;
}

/* For header */
.masthead {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.masthead a {
    color: #000;
    text-decoration: none;
}

.branding {
    font: 400 30px Roboto, sans-serif;
    margin-top: 0.7em;
    margin-right: 10px;
    width: 170px;
    display: inline-block;
}

.logo-image {
    height: 100px;
    display: inline;
}

.new-listing {
    color: white;
}

/* For search results */
.float-to-inline-block {
    display:inline-block;
    vertical-align:top;
    float:none;
}

a.no-underline {
    text-decoration: none !important;
}

#categories {
    margin-top: 0.5em;
}

@media (max-width: 992px) and (min-width: 768px) {
    #categories {
        font-size: 0.9em;
    }
    
    #categories a {
        padding: 5px;
    }
}

#categories a {
    color: #000;
    text-decoration: none;
}

/* For show page */


/* For making WTForms less painful with Bootstrap. */
.form-group ul.form-control {
    height: auto;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

ul.form-control li {
    list-style-type: none;
}

ul.form-control li label {
    font-weight: normal;
}

form .thumbnail {
    max-width: 200px;
}

/* Footer */
.copyright {
    margin-top: 15px;
    text-align: center;
}

/* For show page */
.claim-listing-button {
    display: inline-block;
}

/* Listings table */
.listings-table {
    margin-bottom: 0px;
}

.table-margin{
    margin:0px;
}

.list-image{
    width: 10%;
}

.list-title{
    width: 70%;
}

.list-price{
    width: 10%;
}

.list-category{
    width: 10%;
}

/* List-Thumbail togles */

.btn-thumbnail-List-view {
    background-color: #ffffff;
    border-color: #ccc;
}


.btn-list-List-view {
    background-color: #337ab7;
    color: #ffffff;
    border-color: #2e6da4;
}

.btn-thumbnail-Thumbnail-view {
    background-color: #337ab7;
    color: #ffffff;
    border-color: #2e6da4;
}

.btn-list-Thumbnail-view{
    background-color: #ffffff;
    border-color: #ccc;
}


/* Util */
.hidden-link{
    color: black;
    text-decoration: none;
}

.thumbnail-button{
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
}

.list-button{
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

.thumbnail-grp{
    display: inline-block;
}

.list-grp{
    display: inline-block;
    float: right;
}

/* Custom header via media query */
@media (min-width: 992px){
    .logo-brand-block{
        display: inline-block;
        width: 30%;
    }
    .logo{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        padding-top: 10px;
    }
    .search-button-block{
        width: 70%;
        display: inline-block;
        vertical-align: top;
        float: right;
    }
    .search-block{
        padding-top:3em;
        width: 60%;
        display: inline-block;
        vertical-align: top;
    }
    .user-block{
        display:inline-block;
        vertical-align: top;
    }
    .user-button-container {
        padding-top: 3em;
        vertical-align: top;
        display: inline-block;
        margin-left: 10px;
    }
}

@media (max-width: 991px){
    .logo-brand-block{
        display: inline-block;
        width: 100%;
    }
    .logo{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        padding-top: 10px;
    }
    .search-button-block{
        width: 100%;
        display: inline-block;
    }
    .search-block{
        margin-left: 10px;
        width: 70%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
    }

    .user-button-container {
        /*vertical-align: top;*/
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.btn-user{
    margin-right: 10px;
    border-radius: 5px;
}

.btn-user-right{
    border-radius: 5px;
}