body {
  background-color: #f8f8f8;
}

/* For header */
.masthead {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.masthead a {
    color: #000;
    text-decoration: none;
}

.branding {
    font: 400 36px Roboto, sans-serif;
    width: 240px;
    margin-top: 15px;
}

.logo-image{
    height:100px;
    display: inline;
    margin-top:10px;
}

.search-form {
    padding: 0 1em;
}

.user-info {
    padding: 1em 1em;
}

@media (min-width: 992px) {
    .search-form {
        padding: 3em 0;
    }

    .user-info {
        line-height: 8em;
        text-indent: 1em;
        padding: 0;
    }
}

.user-info a {
    color: #000;
    text-decoration: underline;
}

/* For search results */
.listing {
    margin-bottom: 4em;
}

.listing img, .listing .small-image-placeholder {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.listing h3 {
    position: absolute;
    bottom: -40px;
    left: 15px;
    right: 15px;
    padding: 5px 10px;
    font: 400 1.5em/30px Roboto,sans-serif;
    margin: 0;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 10;
    text-align: center;
}

.listing h3 a {
    color: #000;
}

.listing .price, .listing .age {
    position: absolute;
    top: 1em;
    color: #fff;
    padding: 3px 5px;
    z-index: 15;
}

.listing .age {
    background-color: #111;
    left: 15px;
    border-radius: 0 5px 5px 0;
}

.listing .price {
    background-color: #900;
    right: 15px;
    text-align: right;
    border-radius: 5px 0 0 5px;
}

/* For listings without images */
.small-image-placeholder, .large-image-placeholder {
    display: block;
    font: bold 150px sans-serif;
    color: #fff !important;
    background-color: #eee;
    text-align: center;
    text-decoration: none !important;
    overflow: hidden;
}

.small-image-placeholder {
    font-size: 150px;
    height: 213px;
    line-height: 213px;
}

.large-image-placeholder {
    font-size: 300px;
}

.user-button-container {
    display: inline-block;
    margin: 42px 20px;
}

.user-button {
    border: none;
}