{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h2>About</h2>

    <div>
      <h3>Help and Feedback</h3>

      <p> If you need some help with the new Marketplace, visit the <a href="{{ url_for('helppage') }}" class="hidden-link">Help page</a>.</p>
      
      <p>If you have any concerns, criticisms, or complaints about the new design, you may contact the moderators,
        developers, and maintainers directly by sending an email to the <a href="mailto:marketplace@lists.uchicago.edu"
                                                                           alt="UChicago Marketplace">Marketplace
          List</a>. This list is private, and your message will not be published.</p>

      <h3>Development</h3>

      <p>The Marketplace was developed by two students Jeremy Archer and George Teo with the support of <a
          href="http://sg.uchicago.edu/" title="Student Government">Student Government</a>. The source code is <a
          href="https://github.com/uchicago-sg/caravel" title="Marketplace Source">freely available on GitHub</a>
        under a <a href="https://github.com/uchicago-sg/marketplace/blob/master/License" title="License">three-clause
          BSD license</a>.</p>
    </div>
{% endblock %}
