<div class="row user-dropdown">
  <div class="dropdown pull-right">
    {% if session.get('email') %}
      {%  if session.get('validated') %}
        <button class="btn btn-default dropdown-toggle btn-validated" type="button" id="dropdown_menu_user" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          {{ session.get('email') }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Manage Listings</a></li>
            <li><a href={{ url_for('logout') }}>Logout</a></li>
      {% else %}
        <button class="btn btn-default dropdown-toggle btn-not-validated" type="button" id="dropdown_menu_user" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          User {{ session.get('email') }} not verified
        </button>
        <ul class="dropdown-menu">
          <li><a href={{ url_for('logout') }}>Logout</a></li>
        </ul>
      {%  endif %}
      </ul>
    {% else %}
      <button class="btn btn-default btn-not-logged-in">
        Not Registered
      </button>
    {% endif %}
  </div>
</div>
<div class="row">
  <h1 class="title"> Marketplace </h1>
</div>
<img
    src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/University_of_Chicago_Modern_Etched_Seal_1.svg/1024px-University_of_Chicago_Modern_Etched_Seal_1.svg.png"
    class="logo-pic">