<div class="masthead row">
  <h1 class="branding col-md-3">
    <a href="/">UChicago Marketplace</a>
  </h1>
  <form class="search-form col-md-6" method="GET" action="/">
    <div class="input-group">
      <input type="text" class="form-control" name="q"
        value="{{ request.args['q'] }}" placeholder="Search for listings..."/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </form>
  <p class="user-info col-md-3">
  <div class="btn-group user-button-container">
    {% if session.get('email') %}
      {%  if session.get('validated') %}
        <button class="btn btn-default dropdown-toggle btn-validated"
                type="button" id="dropdown_menu_user" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          {{ session.get('email') }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
              <form method="GET" action="/">
              <div class="input-group">
                <button type="submit" class="btn btn-link" name="q" value="{{ session.get("email") }}">
                  Manage Listings
                </button>
              </div></form>
            </li>
            <li><a href={{ url_for('logout') }}>Logout</a></li>
      {% else %}
        <button class="btn btn-default dropdown-toggle btn-not-validated"
                type="button" id="dropdown_menu_user" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          User {{ session.get('email') }} not verified
        </button>
        <ul class="dropdown-menu">
          <li><a href={{ url_for('logout') }}>Logout</a></li>
        </ul>
      {%  endif %}
      </ul>
    {% else %}
      <button class="btn btn-default btn-not-logged-in">
        Not Registered
      </button>
    {% endif %}
</div>
  </p>
</div>