{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Help</h2>
  <article>
    <p>
      <b>Welcome to the new and improved UChicago Marketplace!</b>
      Please use this page to familiarize yourself with the new site.
      <br>
      If you need help from a real human, email marketplace@lists.uchicago.edu
    </p>

      <h3>Searching for Listings</h3>
        <p>Search can be done entirely via search bar or the category tags above the search bar</p>
        <ul>
          <li>Keyword search in the search bar<br><img src="/static/images/about/keywordsearch.png"/></li>
          <li>Category search via the category tags above the search bar or by typing the category into the search bar<br><img src="/static/images/about/categorysearch.png"/></li>
          <li>Seller search by typing the seller's email address in the search bar<br><img src="/static/images/about/usersearch.png"/></li>
        </ul>

      <h3>Making an inquiry/contacting seller</h3>
        <p>Once you find something that you're interested in purchasing, contact the seller by making an inquiry in the "Contact Seller" box and click send. <p>
        <img src="/static/images/about/contactseller.png" class="help-page-tall"/>

      <h3>Seller responding to inquiry</h3>
        <p>If you're the seller, you will receive an email if somebody is interested in your item. Simply reply to the email to contact the potential buyer.</p>
        <img src="/static/images/about/sellerreply.png" class="help-page-tall"/>

      <h3>Posting new listing</h3>
        <p>To post a new listing, click the "New Listing" button next to the search bar and fill out the form. <br>
        Once you've clicked "Save" at the bottom of the form, you will receive an email. You <b>must</b> click the "Edit 'Listing Name'" button to make the listing visible to the public. </p>
        <img src="/static/images/about/newlisting.png" class="help-page-tall"/>

      <h3>Editing/Deleting a listing</h3>
        <p>To edit/delete an existing listing, you have to be "logged in". There is <b>no</b> "Login" button on the new Marketplace.
          Instead, search for the listing to edit/delete by searching for your email address in the search bar.
          Once you're at the listing page, click "This is mine".
        </p>
        <img src="/static/images/about/contactseller.png" class="help-page-tall"/>
        <p>You will then receive an email with a button to click to "Edit your Listing".</p>
        <img src="/static/images/about/newlisting.png" class="help-page-tall"/>
        <p>The link should bring you back to the listing that you want to edit/delete by clicking on "Edit" or "Unpublish"</p>
        <img src="/static/images/about/editdelete.png" class="help-page-short"/>
        <p>Now you are "logged in" as long as you don't close the browser window. You can now view, edit, and delete your listings without going through your email until you close your browser.</p>
        <img src="/static/images/about/loggedin.png" class="help-page-shorter"/>


  </article>
{% endblock %}