{% extends "layout.html" %}
{% block title %}Listings{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/js/continuation.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <div class="row" id="listings">
    {% if view == "Thumbnail" %}
      {% for listing in listings %}
        {%- include "listings/thumbnail.html" -%}
      {% endfor %}
    {% else %}
      <table class="table table-striped">
      {% include "list_header.html" %}
      {% for listing in listings %}
          {% include "listings/list.html" %}
      {% endfor %}
      </table>
    {% endif %}
  </div>
{% endblock %}
