{% extends "layout.html" %}
{% block title %}Listings{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/js/continuation.js" type="text/javascript"></script>
  <script src="/static/js/view.js" type=text/javascript></script>
{% endblock %}
{% block content %}

  {% for i in range(2) %}
    {% if loop.first %}
      <button type="button" class="btn btn-default"><a href="{{ url_for('new_listing') }}" style="text-decoration: none; color: black;">New Listing</a></button>
    {% else %}
      <hr>
      <div class="row" id="listings">
    {% endif %}


    {% if loop.first %}
    <div class="btn-group" style="float:right;">
      {% include "thumbnail_button.html" %}
      {% include "list_button.html" %}
    </div>
    {% else  %}
      {% if view == "Thumbnail" %}
        {% include "thumbnail_header.html" %}
      {% else %}
        <table class="table">
        {% include "list_header.html" %}
      {% endif %}
    {% endif %}
  {% endfor %}

    {% for listing in listings %}
      {% if view=="List" %}
          {% include "listings/list.html" %}
      {% else %}
        {% include "listings/thumbnail.html" %}
      {% endif %}
    {% endfor %}
    {% if view == "List" %}
      </table>
    {% endif %}
  </div>
{% endblock %}
