{% extends "layout.html" %}
{% block title %}Listings{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/js/continuation.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <button type="button" class="btn btn-default"><a href="{{ url_for('new_listing') }}" style="text-decoration: none; color: black;">New Listing</a></button>
    {% if view == "thumbnail" %}
      <form method="get" style="display:inline-block; float:right">
      <input class="btn btn-default" type="submit" name="View" value="List View">
      </form>
    {% else %}
      <form method="get" style="display:inline-block; float:right">
      <input class="btn btn-default" type="submit" name="View" value="Thumbnail View">
      </form>
    {% endif %}
  <hr>
  <div class="row" id="listings">
    {% if view=="list" %}
      <table class="table" id = "listings">
        <tr>
          <th>Images?</th>
          <th>Title</th>
          <th>Price</th>
          <th>Category</th>
        </tr>
    {% endif %}
    {% for listing in listings %}
      {% if view=="list" %}
          {% include "listings/list.html" %}
      {% else %}
        {% include "listings/thumbnail.html" %}
      {% endif %}
    {% endfor %}
    {% if view == "list" %}
      </table>
    {% endif %}
  </div>
{% endblock %}
