{% extends "plain_layout.html" %}
{% block body %}
  <div class="container">
    {% include "header.html" %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-info alert-{{ category }}" role="alert">
        {{ message }}</div>
    {% endfor %}
    {% if not session["seen_disclaimer"] %}
      <div class="alert alert-warning" role="alert">
        Marketplace is a service provided through Student Government and is
        not moderated or maintained by the University of Chicago. Any
        concerns about the site should be directed to
        marketplace@lists.uchicago.edu.
      </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
  </div>
{% endblock %}