<!-- Make into macro -->
{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2> View Listing </h2>
  <a href="/" class="btn btn-link"> Back to listings </a>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        {% if listing.photo_urls[0] %}
        <img src="{{ listing.photo_urls[0] | public_url }}">
        {% else %}
        <div class="large-image-placeholder">
          {{ listing.body[:1].upper() }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <h3>{{ listing.title }}</h3>
      <p>{{ '$%0.2f'|format(listing.price / 100) }}</p>
      <p>{{ listing.body }}</p>
    </div>
  </div>
{% endblock %}
