{% extends "layout.html" %}
{% block title %}Safety And Security{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Safety &amp; Security</h2>
  <article>
    <div>
      <p>
        <b>Update (July 6, 2012)</b>:
        We have isolated many complaints to a &#8220;Patricia Muller&#8221; (patriciamuller88@gmail.com). These are <a
          href="http://en.wikipedia.org/wiki/Phishing" title="Phishing">phishing emails</a> sent to obtain sensitive
        information for use in a scam. Please <em>do not respond to these emails</em>. Here is a typical message:
      </p>

      <p>
        Hello,<br/><br/>I saw your rental listing and wanted to see if it's still available. If so, could you let me
        know what the monthly rent is? Also, here are some other questions I had: Will the unit be furnished? What is
        the neighborhood like? On average, how much do the utilities cost? When will the unit be available? Can I sign a
        year lease? Do you require a deposit?<br/><br/>Thanks for your time. I look forward to hearing from
        you.<br/><br/>Cheers<br/><br/>Patricia Muller
      </p>

      <p>
        <b>Update (June 23, 2012)</b>:
        Several community members have reported losing money in subletting scams. Students were provided a check by a
        potential subletter and instructed to wire this sum to a travel agency. We encourage users to use their best
        judgement in these situations and avoid dealing with intermediaries if possible. If possible, meet in person,
        and make sure any money is either cash or certified (e.g. cashier&#8217;s checks). You may also contact the
        moderators, developers, and maintainers for help by sending an email to the <a
          href="mailto:marketplace@lists.uchicago.edu" alt="UChicago Marketplace">Marketplace List</a>. This list is
        private, and your message will not be published.
      </p>

      <p>You should take the same precautions as you would using services like Craigslist or eBay. Here we have a
        non-exhaustive list of recommendations:</p>
      <ul>
        <li>Deal locally, even with other students, and never have an item shipped.</li>
        <li>Inspect items before purchase, particularly electronics.</li>
        <li>Deal in cash, and never use or accept wire transfers, checks, or money orders.</li>
        <li>Meet with the buyer or seller in a public place, during the day if possible. Make sure others know where you
          will be.
        </li>
        <li>Attempt to ensure the legitimacy of the item you are purchasing. Ask the seller about the item&#8217;s
          history.
        </li>
      </ul>
    </div>
  </article>
{% endblock %}