<div class="container" style="margin-bottom: 1em;">
  <div class="row">
    <form class="col-md-12" method="GET" action="/">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" name="q" value="{{ request.args['q'] }}" placeholder="Search for listings..."/>

        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><span class="caret"></span></button>
              <div class="dropdown-menu dropdown-menu-right" role="menu"
              </div>
            </div>
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"
                                                                aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>