<!DOCTYPE html">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding: 0; margin: 0;" bgcolor="#ffffff">
  <table width="100%" bgcolor="#ffffff"
      style="padding: 0;
             margin: 0;
             border-collapse: collapse">
    <tr>
      <td style="padding: 0.4em;
                 font: bold 2em 'Helvetica Neue',Helvetica,sans-serif;">
        Marketplace
      </td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
          Hello again!<br/><br/>
          We've received a new inquiry for {{ listing.title }}:
      </td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 0 1em;">
        <table style="width:80%;
                      background-color: #f8f8f8;">
          <tr>
            <td style="padding: 1em;write-space:pre;">
              Buyer: {{ inquiry.principal.email }}<br/><br/>
              {{ inquiry.message }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
          Simply reply to this email if you'd like to get in contact.<br/>
          <br/>
          Cheers,<br/>
          The Marketplace Team
      </td>
    </tr>
  </table>
</body>
</html>