<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding: 0; margin: 0;" bgcolor="#ffffff">
  <table width="100%" bgcolor="#ffffff"
      style="padding: 0;
             margin: 0;
             border-collapse: collapse">
    <tr>
      <td style="padding: 0.4em;
                 font: bold 2em 'Helvetica Neue',Helvetica,sans-serif;">
        Marketplace
      </td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
          Hello there, and welcome to Marketplace!<br/><br/>
          Your listing has been created. Please click the button
          below to edit it.</td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
        <a href="{{ url_for('show_listing', listing=listing, _external=True) }}"
           style="padding: 0.5em;
                  background-color: #39c;
                  color: white;
                  text-decoration: none;
                  border-radius: 2px;">Edit "{{ listing.title }}"</a></td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
          <strong>Your listing is published.</strong> Any
          interest expressed through the "Contact Seller" form will come as a 
          follow-up to this message. Users with CNetIDs can also contact you
          directly.
          <br/><br/>
          Cheers,<br/>
          The Marketplace Team
      </td>
    </tr>
  </table>
</body>
</html>

