<!DOCTYPE html">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Welcome to Marketplace</title>
  <!-- Because Gmail is psychotic, you must resist the temptation to use
       <style> tags- trust me, I wish there were a better way. -->
</head>
<body style="padding: 0; margin: 0;" bgcolor="#f8f8f8">
  <table width="100%" bgcolor="#f8f8f8"
      style="padding: 0;
             margin: 0;
             border-collapse: collapse">
    <tr>
      <td style="padding: 0.4em;
                 font: bold 2em Helvetica Neue,sans-serif;
                 color: #fff;
                 background-color: #999;">
        Marketplace
      </td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
          Hello there, and welcome to Marketplace!<br/><br/>
          Your listing has been created. Please click the button
          below to edit it.</td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
        <a href="{{ url_for('show_listing', permalink=listing.key().name(),
                            key=listing.admin_key, _external=True) }}"
           style="padding: 0.5em;
                  background-color: #39c;
                  color: white;
                  text-decoration: none;">Edit "{{ listing.title }}"</a></td>
    </tr>
    <tr>
      <td style="font: 18px Arial, sans-serif;
                 padding: 1em;">
          <strong>Important: you'll need to click this link at least
          once</strong> for your listing to be viewable by others &mdash; this
          is to protect against spam.<br/>
          If you didn't create this listing, you can safely ignore this email.
          <br/><br/>
          Cheers,<br/>
          Bob, on behalf of the<br/>
          Magic Marketplace Monkeys</td>
    </tr>
  </table>
</body>
</html>

