{% extends "layout.html" %}
{% block title %}Listings{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/index.js"></script>
{% endblock %}
{% block content %}
  {% include "search.html" %}
  <div class="container" style="margin-top:10px;">
    <div class="row form-group">
      {% for listing in listings %}
      {% if loop.index is divisibleby(4) %}
        <div class="row">
      {%  endif %}
      <div class="col-xs-12 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ listing.description }}</h3>
          </div>
          <div class="panel-image hide-panel-body">
            <a href="/{{ listing.key }}">
              <img
                src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG"
                class="panel-image-preview"/>
            </a>
          </div>
          <div class="panel-footer text-center">
            <p>{{ '$%0.2f'|format(listing.price / 100) }}</p>
          </div>
        </div>
      </div>
      {% if loop.index is divisibleby(4) %}
        </div>
      {%  endif %}
      {% endfor %}
    </div>
  </div>

  {# TODO (georgeteo): infinite scroll     #}
{% endblock %}