{% extends "layout.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Terms of Service &amp; Privacy Policy</h2>
  <article>
    <div class="details">
      <p>The Marketplace is provided by the University of Chicago Student Government to members of the University of
        Chicago and Hyde Park community. Listings may only be posted by community members with a valid University email
        address. The moderators also reserve the right to modify or remove inappropriate listings. If your listings are
        repeatedly removed you may be banned from the site.</p>

      <p>A seller&#8217;s email address and identification may be given to University authorities in cases where theft,
        harassment, or illegal activity is suspected. We also use a cookie to collect traffic data with Google
        Analytics, but we do not track or collect personally identifiable information, nor do we associate any data
        gathered with any personally identifying information.</p>
    </div>
  </article>
{% endblock %}