{% import "bootstrap/wtf.html" as wtf %}
<div class="container">
  <div class="row">
    {% if listing.photo_urls %}
      <div class="col-md-3">
    {% else %}
      <div>
    {% endif %}
      {% for photo in listing.photo_urls %}
        <a href="{{ photo | public_url }}" class="thumbnail">
          <img src="{{ photo | public_url }}"/>
        </a>
      {% endfor %}
    </div>
    {% if listing.photo_urls %}
      <div class="col-md-6">
    {% else %}
      <div class="col-md-9">
    {% endif %}
      <h2>{{ listing.title }}</h2>
      <p>
        {% for category in listing.categories %}
          <span class="label label-default">{{ category }}</span>
        {% endfor %}
        <span class="label label-success">
          {{ '${:,.2f}'.format(listing.price / 100) }}</span>
      </p>
      <p style="white-space:pre-wrap">{{ listing.body }}</p>
    </div>
    <div class="col-md-3">
    {% if listing.seller == session["email"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Listing</h3>
        </div>
        <div class="panel-body">
          <a class="btn btn-default"
                href="{{ url_for('edit_listing',
                         permalink=listing.permalink) }}">
            Edit</a>
        </div>
      </div>
     
    {% else %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Seller</h3>
        </div>
        <div class="panel-body">
          {{ wtf.quick_form(buyer_form) }}
          <p>
          <form method="post"
                action="{{ url_for('claim_listing', permalink=listing.permalink) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" class="btn btn-default" value="This is mine"/>
          </form>
          </p>
        </div>
      </div>
    {% endif %}
  </div>
</div>