{% import "bootstrap/wtf.html" as wtf %}
<div class="container">
  <div class="row">
    {% if listing.photos %}
      <div class="col-md-3">
    {% else %}
      <div>
    {% endif %}
      {% for photo in listing.photos %}
        <a href="{{ public_url(photo, 'large') }}" class="thumbnail">
          <img src="{{ public_url(photo, 'large') }}"/>
        </a>
      {% endfor %}
    </div>
    {% if listing.photos %}
      <div class="col-md-6">
    {% else %}
      <div class="col-md-9">
    {% endif %}
      <h2>{{ listing.title }}</h2>
      {% if g.is_admin %}
      <p class="alert alert-info">
        <strong>Debug Infromation:</strong>
          (hide with ?external; only for admins)<br/>
        {%- for key, value in listing.properties().items()|sort -%}
          {{ key }}: <code>{{ listing[key] }}</code><br/>
        {%- endfor -%}
      </p>
      {% endif %}
      <p>
        {% for category in listing.categories %}
          <span class="label label-default">{{ listing.CATEGORIES_DICT.get(category, category) }}</span>
        {% endfor %}
        <span class="label label-success">
          {{ '${:,.2f}'.format(listing.price / 100) }}</span>
      </p>
      <p style="white-space:pre-wrap">{{ listing.body }}</p>
    </div>
    <div class="col-md-3">
    {% if listing.seller == session["email"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Listing</h3>
        </div>
        <form class="panel-body" method="post" action="{{
                                  url_for('edit_listing',
                                      permalink=listing.permalink) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <a class="btn btn-default"
                href="{{ url_for('edit_listing',
                         permalink=listing.permalink) }}">
            Edit</a>
          <input type="submit" class="btn btn-danger"
              name="unpublish" value="Unpublish"/>
        </div>
      </div>
     
    {% else %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Seller</h3>
        </div>
        <div class="panel-body">
        {% if session["email"] in listing.buyers %}
          <p class="alert alert-success">
            You have successfully expressed interest in this listing.</p>
        {% else %}
          {% if listing.buyers %}
          <p class="alert alert-info">
            {% if listing.buyers|length != 1 %}
              This listing has {{ listing.buyers|length }} inquries.
            {% else %}
              This listing has 1 inqury.
            {% endif %}
          </p>
          {% endif %}
          {{ wtf.quick_form(buyer_form) }}
          <p>
          <form method="post"
                action="{{ url_for('claim_listing',
                           permalink=listing.permalink) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" class="btn btn-default" value="This is mine"/>
          </form>
          </p>
        {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>