{% import "bootstrap/wtf.html" as wtf %}
<div class="container">
  <div class="row">
    {% if listing.photos %}
      <div class="col-md-3">
    {% else %}
      <div>
    {% endif %}
      {% for photo in listing.photos %}
        <a href="{{ photo.public_url('large') }}" class="thumbnail">
          <img src="{{ photo.public_url('large') }}"/>
        </a>
      {% endfor %}
    </div>
    {% if listing.photos %}
      <div class="col-md-6">
    {% else %}
      <div class="col-md-9">
    {% endif %}
      <h2>{{ listing.title }}</h2>
      <p>
        {% for category in listing.categories %}
          <span class="label label-default">{{ category }}</span>
        {% endfor %}
      </p>
      <p>Posted <strong>{{ listing.posted_at|as_duration }}</strong>
          by {% if current_user %}
            <a href="{{ url_for('search_listings',
                          q=listing.principal.email) }}">
              {{ listing.principal.email }}</a>
          {%- else -%}
            [address hidden] (<a href="{{ login_url() }}">sign in</a> to view)
          {%- endif -%}.
          Price: <strong>{{ '${:,.2f}'.format(listing.price) }}</strong>
      </p>
      {% if is_admin %}
      <p class="alert alert-info">
        {{ listing.principal.explain() }}. Originally posted by
        {{ listing.principal.device.ip_address }} with 
        {{ listing.principal.device.user_agent }}. 
      </p>
      {% endif %}
      <p style="white-space:pre-wrap">{{ listing.body }}</p>
    </div>
    {% if not is_from_tor() %}
    <div class="col-md-3">
    {% if current_user and listing.principal.email == current_user.email() %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Listing</h3>
        </div>
        <form class="panel-body" method="post" action="{{
                                  url_for('edit_listing', listing=listing) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <a class="btn btn-default"
                href="{{ url_for('edit_listing', listing=listing) }}">
            Edit</a>
          {# <input type="submit" class="btn btn-danger"
              name="unpublish" value="Unpublish"/> #}
        </div>
      </div>
     
    {% else %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Seller</h3>
        </div>
        <div class="panel-body">
        {% if session["email"] in listing.buyers %}
          <p class="alert alert-success">
            You have successfully expressed interest in this listing.</p>
        {% else %}
          {% if listing.buyers %}
          <p class="alert alert-info">
            {% if listing.buyers|length != 1 %}
              This listing has {{ listing.buyers|length }} inquries.
            {% else %}
              This listing has 1 inqury.
            {% endif %}
          </p>
          {% endif %}
          {{ wtf.quick_form(form) }}
          <p>
          {#
          <form method="post"
                action="{{ url_for('claim_listing',
                           permalink=listing.permalink) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" class="btn btn-default" value="This is mine"/>
          </form>
          </p>
          #}
        {% endif %}
        </div>
      </div>
    {% endif %}
    {% endif %}
  </div>
</div>