<div class="col-xs-12 col-sm-3 float-to-inline-block listing">
  <div class="thumbnail">
    <a href="{{ url_for('show_listing', permalink=listing.permalink,
                  q=request.args.get('q')) }}">
      {% if listing.thumbnail_urls[0] %}
        <img src="{{ listing.thumbnail_urls[0] | public_url }}"/>
      {% else %}
        <img src="/static/images/{{ listing.primary_category }}.png"/>
      {% endif %}
    </a>
    <div class="caption">
    	<h3>
        <a href="{{ url_for('show_listing', permalink=listing.permalink,
    	                 q=request.args.get('q')) }}"
    	       style="color:black;text-decoration:none">
    	        {% if listing.title[50:] %}
                {{ listing.title[:50] }}...
              {% else %}
                {{ listing.title }}
              {% endif %}
        </a>
      </h3>
      <p>
        <span class="label label-info">
          {{ listing.posting_time|as_duration }} ago</span>
        {% for category in listing.categories %}
          <a href="{{ url_for('search_listings',
                     q=request.args.get('q', '') + ' ' + category) }}"
             class="no-underline">
            <span class="label label-default">
              {{ listing.CATEGORIES.get(category, category) }}
            </span>
          </a>
        {% endfor %}
        <span class="label label-success">
          {{ '${:,.2f}'.format(listing.price / 100) }}</span>
      </p>
    </div>
  </div>
</div>
