<div class="col-xs-12 col-sm-3 float-to-inline-block listing">
  <div class="thumbnail">
    <a href="{{ url_for('show_listing', permalink=listing.permalink,
                  q=request.args.get('q')) }}">
        <span class="label label-info thumbnail-time">
          {{ listing.posting_time|as_duration }} ago</span>
      {% if listing.thumbnail_url %}
        <img src="{{ listing.thumbnail_url | public_url }}"/>
      {% else %}
        <img src="/static/no-image.png"/>
      {% endif %}
    </a>
    <div class="caption">
    	<p>
        <a href="{{ url_for('show_listing', permalink=listing.permalink,
    	                 q=request.args.get('q')) }}"
    	       class="thumbnail-title">
    	        {% if listing.title[50:] %}
                {{ listing.title[:50] }}...
              {% else %}
                {{ listing.title }}
              {% endif %}
        </a>
      </p>
      <p>
        {% for category in listing.categories %}
          <a href="{{ url_for('search_listings',
              q=request.args.get('q', '') + '' + category) }}"
             class="no-underline">
          <span class="label label-default thumbnail-category" style="background-color:{{ category|category_colors }}">
              {{ category }}</span></a>
        {% endfor %}
        <span class="label label-success thumbnail-price" >
          {{ '${:,.2f}'.format(listing.price / 100) }}</span>
      </p>
    </div>
  </div>
</div>
