<tr class="listing">
  <td class="list-image">
      {% if listing.photos %}
        Yes
      {% else %}
        No
      {% endif %}
  </td>
  <td class="list-title">
      <a class="hidden-link" href="{{ url_for('show_listing', listing=listing,
                 q=request.args['q']) }}">
        {{ listing.title }}
      </a>
  </td>
  <td class="list-price">
    <p>{{ '${:,.2f}'.format(listing.price) }}</p>
  </td>
  <td class="list-category">
    {% for category in listing.categories %}
        <p>{{ category }}</p>
    {% endfor %}
  </td>
</tr>
