<div class="col-xs-12 col-sm-3 float-to-inline-block listing thumbnail-width">
  <div class="thumbnail">
    <a href="{{ url_for('show_listing', listing=listing,
                  q=request.args.get('q')) }}">
      {% if listing.photos %}
        <img src="{{ listing.photos[0].public_url('small') }}"/>
      {% else %}
        <img src="/static/images/{{
            listing.categories[0] }}.png"/>
      {% endif %}
    </a>
    <div class="caption">
    	<h3>
        <a href="{{ url_for('show_listing', listing=listing,
    	                 q=request.args.get('q')) }}"
    	       style="color:black;text-decoration:none">
    	        {% if listing.title[50:] %}
                {{ listing.title[:50] }}...
              {% else %}
                {{ listing.title }}
              {% endif %}
        </a>
      </h3>
      <p>
        <span class="label label-success">{{
          '${:,.2f}'.format(listing.price) }}</span>
        {% for category in listing.categories %}
        <span class="label label-default">{{ category }}</span>
        {% endfor %}<br/>
        {% if current_user %}
          <span class="label label-primary">{{ listing.principal.email }}</span>
        {% endif %}
        <span class="label label-info">{{
          listing.posted_at|as_duration }}</span>
      </p>
    </div>
  </div>
</div>
